{% extends layout %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <title>Sign out</title>
    </head>

<body>
   
    <button type="submit">Sign out</button>
    <a href=“/signin”>Already Sign up! Sign In</a>





</body>


</html>
{% endblock %}